*{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
body{
    background-color: rgb(81,138,88);
}
.session{
    padding: 20px 10px 50px 150px;
}
.session_type{
    font-weight: medium;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    margin-right: 10px;
}
.main{
    padding: 5px 500px;
}
body .timer{
    background-color: rgba(255, 255, 255, 0.1);
}
.start{
    background-color: white;
    color: green;
    width: 150px;
    padding:15px;
    border-radius: 2%;
    margin-left: 225px;
    font-size: 20px
}
.time{
    margin-left: 200px;
    font-size: 100px;
}
