<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time to focus!</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <h1>Process Focus</h1>
    <div id="task-heading">General</div>
    <main>
        <header>
            <h2>Pomodoro Timer</h2>

            <button type="button" id="settings">Settings</button>
        </header>

        <dialog id="settings-dialog">
            <div id="settings-wrapper">

                <div class="dialog-top"><b><span>Timer(in min.)</span></b>
                    <button id="settings-close" class="icon-button"><img src="/static/close-button.jpg"
                            alt="close settings"></button>
                </div>
                <table>
                    <tr>
                        <td><label for="task-name">Task/Activity</label></td>
                        <td><input type="text" id="task-name" value="General"></td>
                    </tr>
                    <tr>
                        <td><label for="pomodoro-length">Pomodoro</label></td>
                        <td><input type="number" id="pomodoro-length" value="25" max="1440" min="0"></td>
                    </tr>
                    <tr>
                        <td><label for="short-break-length">Short Break</label></td>
                        <td><input type="number" id="short-break-length" value="5" max="1440" min="0"></td>
                    </tr>
                    <tr>
                        <td><label for="long-break-length">Long Break</label></td>
                        <td><input type="number" id="long-break-length" value="15" max="1440" min="0"></td>
                    </tr>
                    <tr>
                        <td><label for="long-break-count">Long Break Interval</label></td>
                        <td><input type="number" id="long-break-count" value="4" max="1440" min="0"></td>
                    </tr>
                    <tr>
                        <td><label for="start-break">Auto Start Break</label></td>
                        <td><input type="checkbox" id="start-break"></td>
                    </tr>
                    <tr>
                        <td><label for="start-pomodoro">Auto Start Pomodoro</label></td>
                        <td><input type="checkbox" id="start-pomodoro"></td>
                    </tr>
                </table>
                <button id="save-task-settings">Save Task Settings</button>
            </div>

        </dialog>
        <hr>
        <div class="timer">
            <div class="session">
                <button type="type" class="session_type" id="pomodoro-session" name="session_buttons"
                    checked>Pomodoro</button>
                <button type="type" class="session_type" id="short-break-session" name="session_buttons">Short
                    Break</button>
                <button type="type" class="session_type" id="long-break-session" name="session_buttons">Long
                    Break</button>
            </div>
            <span id="time">25:00</span>
            <button type="button" id="start">START</button>
        </div>
    </main>
    <div>
        <h2 id="session-message">Time to focus!</h2>
    </div>
    <div class="task-manager">
        Task Manager
    </div>
    <button id="add-task">
        + Add a Task
    </button>

    <script src="../static/storage.js"></script>
    <script src="../static/settings.js"></script>
    <script src="../static/sessions.js"></script>
    <script src="../static/timer.js"></script>
    <script src="../static/tasks.js"></script>


</body>

</html>